{% extends "base.html" %}
{% block content %}
<h4>Your username: {{ request.user.username }}</h4>

    <div class="products">
    </div>

    <div class="profile">
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Update Profile Information"/>
    </form>
<br>
    <a href = "{% url 'browsing-history' %}" id = "browsing" class = "btn btn-outline-dark" type="button">Browsing History</a>
    </div>


{% endblock %}