<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home-index' %}">Home</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'consoles-index' %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Consoles
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'consoles-index4' %}">Atari</a>
              <a class="dropdown-item" href="{% url 'consoles-index3' %}">Nintendo</a>
              <a class="dropdown-item" href="{% url 'consoles-index6' %}">Playstation</a>
              <a class="dropdown-item" href="{% url 'consoles-index5' %}">Sega Genesis</a>
             </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'games-index' %}" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
              Games
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'games-index4' %}">Atari</a>
              <a class="dropdown-item" href="{% url 'games-index3' %}">Nintendo</a>
              <a class="dropdown-item" href="{% url 'games-index6' %}">Playstation</a>
              <a class="dropdown-item" href="{% url 'games-index5' %}">Sega Genesis</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'accessories-index' %}" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
              Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'accessories-index4' %}">Atari</a>
              <a class="dropdown-item" href="{% url 'accessories-index3'%}">Nintendo</a>
              <a class="dropdown-item" href="{% url 'accessories-index6' %}">Playstation</a>
              <a class="dropdown-item" href="{% url 'accessories-index5' %}">Sega Genesis</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'merchandise-index' %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Merchandise
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'merchandise-index4' %}">Atari</a>
              <a class="dropdown-item" href="{% url 'merchandise-index3'%}">Nintendo</a>
              <a class="dropdown-item" href="{% url 'merchandise-index6' %}">Playstation</a>
              <a class="dropdown-item" href="{% url 'merchandise-index5' %}">Sega Genesis</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'allProducts-index' %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'allProducts-index4' %}">Atari</a>
              <a class="dropdown-item" href="{% url 'allProducts-index3'%}">Nintendo</a>
              <a class="dropdown-item" href="{% url 'allProducts-index6' %}">Playstation</a>
              <a class="dropdown-item" href="{% url 'allProducts-index5' %}">Sega Genesis</a>
            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" id="search-box" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" id = "search-btn" type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
            <ul class="navbar-nav navbar-right ml-auto">
            <li> <a href="{% url 'profile' %}"><img src="{{ user.profile.profile_image }}" class="profile-image"></a></li>
            <li> <a href="{% url 'logout_first' %}"><button class="btn btn-link btn-lg" id="Logout">Logout</button></a></li>
            </ul>


        {% else %}
            <ul class="navbar-nav navbar-right ml-auto">
             <li class="form-inline my-2 my-lg-0">
                <a href="{% url 'login' %}"><button class="btn btn-link btn-lg" id="Login">Login</button></a>
             </li>

             <li class="form-inline my-2 my-lg-0">
                <a href="{% url 'User-index' %}"> <button type="button" id="signup" class="btn btn-outline-dark btn-lg">Sign up</button> </a>
             </li>
            &nbsp;
        {% endif %}

            <a class="navbar-brand" href="{% url 'cart-index' %}">
                 <ion-icon size="large" name="cart-outline"></ion-icon>
            </a>
        </ul>
      </div>
    </nav>