.header {
    background-image: url("https://www.amusements.co.uk/__assets__/HomeSlides/00003/banner%20classic%20games.jpg");
    background-color: rgb(18,45,56);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
}