.header {
    background-image: url("https://www.amusements.co.uk/__assets__/HomeSlides/00003/banner%20classic%20games.jpg");
    background-color: rgb(18,45,56);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}
a {
    box-sizing: border-box;
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'raleway';
    font-weight: bold;
}

navbar {
    position: center;
    overflow: no-content;
}

navbar-brand {
    position: relative;
}

navbar-animation {
    position: absolute;
    top: -1500 px;
    bottom: -1500px;
    right: 0;
    left: 0;
    background-image: -o-linear-gradient(to right, --add image--);
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img{
    width: 100px;
    height:100px;
}