.header {
    background-image: url("https://images-ext-1.discordapp.net/external/uZYAlpxMoCj-yqTBgPlIngD8AzrNm9dIeOscb54uoUU/https/www.thesharpproject.co.uk/assets/games-banner-02-1.jpg");
    background-color: rgb(18,45,56);
    background-position: center;
    border-color: #80B9E5;
    margin-left: auto;
    margin-right: auto;
    margin-color:back
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    max-width: 800px;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}
a {
    box-sizing: border-box;
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'raleway';
    font-weight: bold;
}

navbar {
    position: center;
    overflow: no-content;
}

navbar-brand {
    position: relative;
}

navbar-animation {
    position: absolute;
    top: -1500 px;
    bottom: -1500px;
    right: 0;
    left: 0;
    background-image: -o-linear-gradient(to right, --add image--);
}


.products .product {
    border-radius: 0;
    border-style: solid;
    border-color: dimgrey;
    margin: 5px;
    background-color: white;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.product-image {
    width: 200px;
    height: 200px;
}

.block {
    display: block;
}

.container {
    margin-top: 38px;
}