{% extends 'base.html' %}
{% block content %}
<div class="product-details">
    <h1>{{ products.name }}</h1>
    <p>{{ products.description }}</p>
    <p>Price: {{ products.price }} ISK</p>
    <p>Manufacturer: {{ products.manufacturer }}</p>
    <a href = "{% url 'add-to-cart' products.id %}" class = "btn btn-outline-dark" type="button">Add to Cart</a>
    <br>
    <br>
    {% for product_image in products.productimage_set.all  %}
        <img src="{{ product_image.image }}" class="product-image" />
    {% endfor %}
</div>
    <div class="products"></div>

{% endblock %}
